<ion-header>
  <ion-toolbar>
    <ion-title>
      Avatar y Button
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <br>

  <ion-button
    expand="block"
    color="primary"
    href="https://www.linkedin.com/"
    target="_blank"
    rel="noopener noreferrer"
  >
    LinkedIn
  </ion-button>

  <ion-button
    expand="block"
    fill="outline"
    color="dark"
    href="https://github.com/"
    target="_blank"
    rel="noopener noreferrer"
  >
    GitHub
  </ion-button>

</ion-content>